@import '../yoti-theme/yoti-variables';

$navbar-height: $navbar-height;
$gutter: 20px;
$border: 1px solid rgba($color: $color-3, $alpha: .2);

html {
  min-height: 100%;
  position: relative;
 }

.yoti {

  &-dashboard {
    font-family: $font-family-sans-serif;
    margin-bottom: 120px;
  }

  &-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: $color-grey-1;
    align-items: center;
    height: $navbar-height;
    padding: $gutter;

    .icon-logo {
      margin-left: 70px;
    }

    &__user {
      display: flex;
      align-items: center;

      .yoti-connection {
        display: flex;
        min-width: 180px;
        padding: 0 ($gutter / 2);
        justify-content: space-around;
        align-items: center;
        background: $color-1a;
        height: $navbar-height;
        margin-right: $gutter;
      }
    }
  }

  &-sidebar {
    background-color: $color-grey-1;
    position: fixed;
    top: $navbar-height;
    width: $yoti-portal-sidebar-width;
    height: 100%;
    z-index: -1;
    
    &__content {
      height: $navbar-height;
      background: rgba($color: $color-2b, $alpha: .2);
      display: flex;
      align-items: center;
      padding: 0 0 0 ($gutter / 2);
    }

    &__text {
      color: $color-3;
      font-weight: 500;
      margin: 0 0 0 15px;
    }
  }

  &-activity {
    margin-left: $yoti-portal-sidebar-width;
    padding: $gutter;

    &__title {
      margin: 0;
      border-bottom: $border;
      padding-bottom: 20px;
      font-size: $font-size-h4;
    }

    &__main {

      &-title {
        font-size: $font-size-h3;
        margin-top: ($gutter / 2);
      }

      &-section {
        box-shadow: 0px 0px 1px rgba(0,0,0, .4);

        .list-header {
          border-bottom: 1px solid $color-grey-2;
          padding: ($gutter / 2) $gutter;
          margin-top: $gutter;
          margin-bottom: 0;
          font-weight: 400;
        }
      }

      &-tile {
        padding: ($gutter / 2) ($gutter * 2) ($gutter / 2) $gutter;
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
          border-bottom: $border;
        }
      }

      .yoti-tile {

        &__info {
          display: flex;
          align-items: center;
          flex-grow: 1;

          div:first-child {
            margin-right: $gutter;
          }

          div:last-child {
            margin-left: ($gutter * 2);
          }
        }

        &__timestamp {
          text-align: right;

          &-text {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            color: $color-3b;
          }
        }
      }
    }
  }

  &-modal {
    width: 400px;

    &__btn {
      border: 0;
      position: absolute;
      right: -35px;
      z-index: 1;
      background: transparent;
      color: white;
      font-size: 25px;
      top: -10px;
    }
  }

  &-card {
    position: relative;

    &__header {
      height: 120px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
      &-image {
        width: 80px;
      }
    }

    &__main {
      padding: $gutter;
      text-align: center;

      &-image {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        &-user {
          position: relative;

          .icon-logo_circle {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

        .icon-receipt_confirmed {
          margin-top: $gutter;
        }
      }

      &-info {
        border-bottom: $border;
        padding-bottom: ($gutter / 2)
      }

      &-attributes {
        text-align: left;
        margin-top: $gutter;

        &-title {
          color: $color-3b;
          font-size: 16px;
          margin-bottom: 0px;
        }

        &-text {
          text-transform: uppercase;
        }
      }
    }
  }
}

.login-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  a {
    &:hover {
      color: $color-17;
      text-decoration: underline;
    }
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, .5) !important;
}