@import '../yoti-theme/yoti-variables';

$header-height: 70px;
$gutter: 20px;

.yoti {
  &-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: $color-grey-1;
    align-items: center;
    height: $header-height;
    padding: $gutter;

    &__user {
      display: flex;
      align-items: center;

      .yoti-connection {
        display: flex;
        min-width: 180px;
        padding: 0 ($gutter / 2);
        justify-content: space-around;
        align-items: center;
        background: $color-1a;
        height: $header-height;
        margin-right: $gutter;
      }
    }
  }

  &-sidebar {
    background-color: $color-grey-1;
    position: fixed;
    top: $header-height;
    width: 200px;
    height: 100%;
    z-index: -1;
    
    &__content {
      height: ($header-height / 2);
      background: rgba($color: $color-2b, $alpha: .2);
      display: flex;
      align-items: center;
      padding: 0 0 0 ($gutter / 2);
    }

    &__text {
      color: $color-3;
      font-weight: 500;
      margin: 0 0 0 15px;
    }
  }
}

.login-footer a {
  &:hover {
    color: $color-17;
    text-decoration: underline;
  }
}