/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.yoti-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: #F5F5F5;
  align-items: center;
  height: 70px;
  padding: 20px; }
  .yoti-header__user {
    display: flex;
    align-items: center; }
    .yoti-header__user .yoti-connection {
      display: flex;
      min-width: 180px;
      padding: 0 10px;
      justify-content: space-around;
      align-items: center;
      background: #D5ECFF;
      height: 70px;
      margin-right: 20px; }

.yoti-sidebar {
  background-color: #F5F5F5;
  position: fixed;
  top: 70px;
  width: 200px;
  height: 100%;
  z-index: -1; }

.login-footer a:hover {
  color: #FFFFFF;
  text-decoration: underline; }
